*{
    box-sizing: border-box;
}

:root{
    --dark: #132929;
    --green: #368867;
    --light: #62D17A;
    --font-a: 'Rambla', sans-serif;
}

header{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    background-color: var(--dark);
    width: 100%;
    height: 100px;
    padding: 1% 1% 2% 2%;
    z-index: 1;
}

header h1{
    justify-self: flex-start;
    align-self: flex-start;
    font-family: var(--font-a);
    font-weight: 700;
    width: 50%;
    left: 0%;
    color: var(--light);
    font-size: 250%;
    margin-right: 5%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    right: 0%;
}

nav a{
    color: white;
    text-decoration: none;
    font-family: var(--font-a);
    font-size: 120%;
    font-weight: 400;
}

main{
    position: relative;
    top: 100px;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

main p{
    padding: 10px;
    color: #132929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    line-height: 20pt;
}

main h2{
    padding: 10px;
    color: var(--dark);
    font-family: var(--font-a); 
    font-size: 24pt;
}

aside{
    flex: 1 0 20vw;
    position: absolute;
    left: 0%;
    width: 20vw;
    background-color: var(--green);
}

content{
    flex: 1 0 80vw;
    position: absolute;
    right: 0%;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    width: 50%;
    background-color: var(--light);
    overflow: hidden;
    border: solid 1px;
}

.wide{
    flex: 100%;
    display: block;
    flex-shrink: 0;
}

.reg{
    flex: 50%;
    display: inline-block;
    flex-shrink: 0;
}


section img{
    max-width: 100%;
    flex-shrink: 50%;
    object-fit: cover;
    opacity: 50%;
}






